/* typography */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -1px;
  margin: 0;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: -0.5px;
  color: #000000;
  margin: 0;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin: 0;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #000000;
  line-height: 18px;
  margin: 0.25em;
}
h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
p {
  font-family: 'Montserrat Light', sans-serif;
  font-size: 14px;
  color: #4A4A4A;
  letter-spacing: -0.5px;
  line-height: 20px;
  margin: 0;
}
.text-input {
  font-family: 'Montserrat Light', sans-serif;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  line-height: 20px;
  margin: 0;
}
.hero__title {
  font-family: 'Cherry Swash', cursive;
  font-size: 52px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  text-align: center;
  line-height: normal;
  font-weight: 400;
  margin: 0;
}
.quote {
  font-family: 'Cherry Swash', cursive;
  font-size: 24px;
  color: #000000;
  line-height: 34px;
  font-weight: 400;
  margin: 0;
}
.small-type {
  font-family: 'Montserrat Light', sans-serif;
  font-size: 10px;
  color: #9B9B9B;
  letter-spacing: 0;
  line-height: 15px;
  margin: 0;
}
/*hiding svg definitions in html */
.svgdefs {
  display: none;
}
/* SVG Icons Sizing and Color */
.logo {
  width: 208px;
  height: 36px;
}
.logo__typography {
  fill: #FFFFFF;
}
.logo__icon {
  stroke: #FFFFFF;
}
.down-arrow-svg {
  width: 9px;
  height: 5px;
}
.cart-svg {
  width: 14px;
  height: 12px;
}
.search-svg {
  width: 19px;
  height: 19px;
}
.truck-svg {
  width: 46px;
  height: 40px;
}
.hand-phone-svg {
  width: 38px;
  height: 42px;
}
.present-svg {
  width: 46px;
  height: 42px;
}
.star-svg {
  width: 22px;
  height: 20px;
}
.star-svg--green {
  fill: #8FD295;
}
.star-svg--grey {
  fill: #EAEAEA;
}
.mail-svg {
  width: 18px;
  height: 14px;
}
.social-svg--facebook {
  width: 7px;
  height: 15px;
}
.social-svg--twitter {
  width: 16px;
  height: 13px;
}
.social-svg--instagram {
  width: 16px;
  height: 15px;
}
/* Navigation Base Styles */
.nav {
  list-style: none;
  display: inline-block;
  margin: 0;
}
.nav li {
    display: inline-block;
    padding-right: 30px;
}
.nav li:last-of-type {
  padding-right: 0;
}
ul {
  padding-left: 0;
}
a {
  text-decoration: none;
}
/* Helper Classes */
/* color */
.font--white {color: #FFFFFF;}
.font--brown {color: #4A4A4A;}
/*styling */
.text-align-center {text-align: center;}
.display-inline-block {display: inline-block;}
.position-relative {position: relative;}
/*spacing */
.margin-top-10 {margin-top: 10px;}
.padding-top-32 {padding-top: 32px;}
.padding-top-4 {padding-top: 4px;}
.padding-top-5 {padding-top: 5px;}
/*button styles */
.btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  border-radius: 4px;
}
.btn--primary {
  padding: 12px 16px;
  background-color: #8FD295;
}
.btn--green {
  background-color: #8FD295;
}
.btn--cart {
  background-color: #FFC306;
  padding: 10px 20px;
  margin-left: 30px
}
.btn--promo {
  background-color: #FFFFFF;
  color: #4A4A4A;
  padding: 12px;
}
.btn--sale {
  background: #4A4A4A;
  border-radius: 3px;
  position: absolute;
  padding: 2px 6px;
  top: 11px;
  right: 11px;
}
/* body */
body {
  width: 768px;
  margin: 0 auto;
  background-color: #EAEAEA;
}
/*header */
header {
  background-color: #704862;
  height: 90px;
}
.logo {
  padding: 23px 0 27px 12px;
}
.header__nav {
  float: right;
  padding: 28px 13px 25px 0;
}
.cart-svg {
  padding-right: 20px;
}
/*Menu & Search */
.menu-search {
  background-color: #FFFFFF;
}
.nav__menu-search {
  padding: 17px 0;
}
.search-svg {
  position: absolute;
  top: 16px;
  right: 10px;
}
/*hero */
.hero {
  background-image: url('../Grocery_Images/produce.jpg');
  background-position-y: -116px;
  background-size: cover;
}
.hero--overlay {
  height: 360px;
  background: rgba(0, 0, 0, 0.5);
}
.hero__title {
  padding: 74px 77px 20px 76px;
}
.text-input--hero {
  width: 237px;
  height: 35px;
  padding-left: 8px;
  margin-right: 10px;
}
/*bullet points */
.bullet-points {
  overflow: auto;
  padding: 28px 23px 29px 13px;
  background: #FFFFFF;
}
.bullet {
  float: left;
  padding-right: 23px;
}
.bullet:last-of-type {
  padding-right: 0;
}
.bullet__text {
  display: inline-block;
  width: 160px;
}
.bullet-svg {
  padding-right: 20px;
  padding-bottom: 10px;
}
/* Product Block */
.product-block {
  padding: 50px 12px;
}
.product__card {
  width: 166px;
  height: 196px;
  border-radius: 4px;
  background: #FFFFFF;
  float: left;
  margin: 21px 26px 25px 0;
  padding-top: 20px;
}
.product__card:last-of-type {
  margin-right: 0;
}
.product__img {
  width: 130px;
  height: 113px;
  padding: 19px 18px 0 18px;
}
.product__img:last-of-type {
  padding-top: 0;
}
/* Testimonia/ */
.testimonial {
  padding: 0 77px 50px 77px;
}
.testimonial--details {
  padding-top: 24px;
}
.testimonial--name {
  display: inline-block;
  padding-left: 11px;
  position: relative;
  top: -25px
}
/*Coupon*/
.coupon {
  padding-bottom: 50px;
  position: relative;
}
.coupon__rectangle {
  width: 616px;
  height: 187px;
}
.coupon__rectangle--yellow {
  background-color: #FFC306;
  border-radius: 14px;
  margin: 0 76px;
}
.coupon__rectangle--dashed {
  border: 4px dashed #4A4A4A;
  border-radius: 12px;
  position: absolute;
  top: -11px;
  left: 66px;
}
.coupon__yellow-rectangle__inner {
  padding: 32px 65px 42px 64px;
}
/*Recipe Section */
.recipes {
  overflow: auto;
  padding-bottom: 51px;
}
.recipes__row {
  padding: 25px 13px 25px 12px;
  overflow: auto;
}
.recipes__row:last-of-type {
  padding-top: 0;
}
.recipe {
  border-radius: 4px;
  float: left;
  width: 231px;
  height: 283px;
  margin-right: 25px;
  background-color: #FFFFFF;
  position: relative;
}
.recipe:last-of-type {
  margin-right: 0;
}
.recipe__img img {
  width: 231px;
  height: 162px;
}
.recipe__text {
  padding: 10px 15px 0 15px;
}
.recipe__stars {
  position: absolute;
  bottom: 30px;
  left: 68px;
}
/*Footer */
footer {
  text-align: center;
  background-color: #FFFFFF;
}
.nav__footer {
  padding-top: 51px;
  padding-bottom: 36px;
}
.text-input--footer {
  background-color: #EAEAEA;
  width: 180px;
  height: 32px;
  padding-left: 8px;
  margin-left: 19px;
}
.mail-svg {
  background: #4A4A4A;
  border-radius: 4px;
  padding: 10px 11px 8px 12px;
  position: relative;
  top: 11px;
}
.footer__social {
  padding-top: 40px;
  padding-bottom: 47px;
}
.social-svg {
  padding-right: 25px;
}
.social-svg:last-of-type {
  padding-right: 0;
}
