/* typography */
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  color: #FFFFFF;
}
h2 {
  font-family: 'Satisfy', cursive;
  font-size: 36px;
  color: #FFFFFF;
}

/* body */
body {
  background-color: #CFECCE;
  text-align: center;
}
img {
  width: 25%;
}
.pt150 {
  padding-top: 150px;
}
